// title and headers
.sectionColorPrimary {
  background: #00788b;
  color: white;
}
.sectionColorSecondary {
  background: #333333;
  color: white;
}
.sectionColorTertiary {
  background: #e4e4e5;
}
.textColorPrimary {
  color: #00788b;
}

.headerTitle {
  font-family: Rockwell, serif;
  font-size: 55px;
}
.sectionHeader {
  font-family: Rockwell, serif;
  font-size: 30px;
  height: 75px;
}


.headerSubTitle {
  font-size: 25px;
}
.sectionTitlePrimary {
  font-family: Rockwell, serif;
}
.sectionTitleSecondary {
  font-size: 25px;
  font-family: Rockwell, serif;
}

.careerTitles {
  font-family: Rockwell, serif;
  font-size: 25px;
  li{
    border-bottom: 2px solid #014350;
  }
  li:last-child {
    border: none;
  }
}
.contacts {
  font-size: 20px;
  ul {
    list-style-type: none;
  }
}
.profile {
  text-align: justify;
  text-justify: inter-word;
}
.justifyText {
  text-align: justify;
  text-justify: inter-word;
}
.skills {
  span {
    color: #00788b;
    font-family: Arial, serif;
    font-size: large;
  }
}
.experience {
  font-family: Arial, sans-serif;
  li {
    border-bottom: 1px solid black;
  }
  li:last-child {
    border: none;
  }
  .project {
    li {
      border: none;
    }
  }
}
.education {
  li {
    border-bottom: 1px solid black;
  }
  li:last-child {
    border: none;
  }
}

.activity {
  li {
    border-bottom: 1px solid black;
  }
  li:last-child {
    border: none;
  }
}

// Helpers
.indent {
  padding-left: 100px;
}
.listStyleRemove {
  ul{
    list-style-type: none;
  }
}



// lg display
@media (max-width: 991.98px) {
  .indent {
    padding-left: 50px;
  }
}

// md display
@media (max-width: 767.98px) {
  .headerTitle {
    font-size: xx-large;
  }
  .career {
    background: #005360;
  }
  .careerTitles {
    font-family: Rockwell, serif;
    font-size: 25px;
    li{
      border-bottom: 2px solid #0097b9;
    }
    li:last-child {
      border: none;
    }
  }
  .indent {
    padding-left: 50px;
  }
}